@page "/myapplications"
@layout MainLayout
@inherits MyApplicationsCode

<div class="row gap-5 justify-content-center m-0">
    <div class="card p-0">
        <div class="card-header d-flex justify-content-between">
            <h5 class="m-0" style="line-height: 1.5em !important;">My Scale Inspection Applications</h5>
            <button class="btn btn-success py-1 px-2 d-flex align-items-center" disabled="@IsLoading" @onclick="() => CreateNewScaleInspectionApplication()">
                <ion-icon name="add-outline" class="me-1 fs-4"></ion-icon>
                Add
            </button>
        </div>
        <div class="card-body">
            @if (ScaleApplications is null)
            {
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <div class="spinner-border"></div>
                    <div class="fs-3">Please wait...</div>
                </div>
            }
            else if (ScaleApplications.Count < 1)
            {
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <div class="fs-5">There are no application in system.</div>
                </div>
            }
            else
            {
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Application Date</th>
                            <th scope="col">Applicant</th>
                            <th scope="col">Is Accepted</th>
                            <th scope="col">Is Completed</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ScaleInspectionApplicationModel application in ScaleApplications)
                        {
                            <tr>
                                <td>@application.ApplicationDate.Date.ToString("dd.MM.yyyy")</td>
                                <td>@application.Applicant?.Name @application.Applicant?.Surname</td>
                                <td>@application.IsAccepted</td>
                                <td>@application.IsCompleted</td>
                                <td>
                                    <button class="btn btn-primary d-flex justify-content-center px-2 py-1 fs-5" disabled="@IsLoading" @onclick="() => SeeApplicationDetail(application)">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="card p-0">
        <div class="card-header d-flex justify-content-between">
            <h5 class="m-0" style="line-height: 1.5em !important;">My Gas Meter Inspection Applications</h5>
            <button class="btn btn-success py-1 px-2 d-flex align-items-center" disabled="@IsLoading" @onclick="() => CreateNewGasMeterInspectionApplication()">
                <ion-icon name="add-outline" class="me-1 fs-4"></ion-icon>
                Add
            </button>
        </div>
        <div class="card-body">
            @if (GasMeterApplications is null)
            {
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <div class="spinner-border"></div>
                    <div class="fs-3">Please wait...</div>
                </div>
            }
            else if (GasMeterApplications.Count < 1)
            {
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <div class="fs-5">There are no application in system.</div>
                </div>
            }
            else
            {
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Application Date</th>
                            <th scope="col">Applicant</th>
                            <th scope="col">Is Accepted</th>
                            <th scope="col">Is Completed</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GasMeterInspectionApplicationModel application in GasMeterApplications)
                        {
                            <tr>
                                <td>@application.ApplicationDate.Date.ToString("dd.MM.yyyy")</td>
                                <td>@application.Applicant?.Name @application.Applicant?.Surname</td>
                                <td>@application.IsAccepted</td>
                                <td>@application.IsCompleted</td>
                                <td>
                                    <button class="btn btn-primary d-flex justify-content-center px-2 py-1 fs-5" disabled="@IsLoading" @onclick="() => SeeApplicationDetail(application)">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
