@inject HttpClient Http
@inject ModalManager Modal

<div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 card p-0 mt-5">
    <div class="card-header">
        <h3 class="text-center my-2">Change Password</h3>
    </div>
    <div class="card-body p-4">
        <EditForm Model="@ChangePassword" OnValidSubmit="@ChangePasswordValidated">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="oldpassword">Old Password: </label>
                <InputText class="form-control" type="password" id="oldpassword" @bind-Value="@ChangePassword.OldPassword" />
                <ValidationMessage For="() => ChangePassword.OldPassword" />
            </div>
            <div class="mb-3">
                <label for="password">Password: </label>
                <InputText class="form-control" type="password" id="password" @bind-Value="@ChangePassword.Password" />
                <ValidationMessage For="() => ChangePassword.Password" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword">Confirm Password:</label>
                <InputText class="form-control" type="password" id="confirmPassword" @bind-Value="@ChangePassword.ConfirmPassword" />
                <ValidationMessage For="() => ChangePassword.ConfirmPassword" />
            </div>
            <div class="d-flex justify-content-center">
                <ButtonComponent Caption="Change Password" Color="primary" IsBusy="@BtnIsBusy" Icon="send-outline"></ButtonComponent>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ChangePasswordModel ChangePassword = new();
    private bool BtnIsBusy = false;

    private async Task ChangePasswordValidated()
    {
        BtnIsBusy = true;
        ServerResponse<bool> response = await Http.PostAndGetServerResponseAsync<bool, ChangePasswordModel>("/user/changepassword", ChangePassword);
        await Modal.ShowMessageModalAsync("Task completed.", response.Success ? "Password changed succesfully" : response.ErrorMessage ?? "Unknown error.");
        ChangePassword = new();
        BtnIsBusy = false;
    }
}
