@page "/adminpanel/users"
@layout AdminLayout
@inherits UsersCode

<h3 class="text-center p-2 bg-light">User of Instrument List</h3>

@if (UserList is null)
{
    <div class="d-flex flex-column align-items-center justify-content-center gap-2">
        <div class="spinner-border"></div>
        <div class="fs-3">Please wait...</div>
    </div>
}
else
{
    <div class="p-2">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Company Name</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th scope="col" style="width: auto">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserModel user in UserList)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Name @user.Surname</td>
                        <td>@user.Email</td>
                        <td>@user.CompanyName</td>
                        <td>
                            <button disabled="@IsBusy" class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-@(user.IsActive ? "success" : "danger")" @onclick="() => ChangeStatus(user.Id)">
                                <ion-icon class="fs-5 me-2" name="sync-outline"></ion-icon>
                                @(user.IsActive ? "Active" : "Passive")
                            </button>
                        </td>
                        <td>@user.Role</td>
                        <td>
                            <button disabled="@IsBusy" class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-secondary" @onclick="() => ChangeRoleToInspector(user.Id)">
                                Set As Inspector
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
